* {
  box-sizing: border-box;
}

body {
  background-color: #e9efec;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 20%;
  font-size: 70px;
  font-weight: 300;
  text-transform: uppercase;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  background-color: #ffffff;
}

.fa-search {
  font-size: 30px;
  color: #bebebe;
}
.fa-plane-departure,
.fa-plane-arrival{
    font-size: 30px;
    margin-left: 150px;
}
.fa-plane-departure{
    color: #ffffff; 
}
.fa-plane-arrival{
    color: rgb(83, 181, 233);
}

.input {
  border: none;
  height: 70px;
  width: 700px;
  font-size: 30px;
  outline: none;
}
.input::-webkit-input-placeholder {
  color: #bebebe;
}

form {
  display: flex;
  justify-content: center;
}
.search_btn {
  width: 180px;
  height: 70px;
  border: none;
  background-color: #53b5e9;
  border-top-right-radius: 70px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
}
.btn-text {
  margin-left: 15px;
}
.container {
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
}

.tableHeader {
  height: 60px;
}
.departures,
.arrivals {
  display: flex;
  align-items: center;
  height: 60px;
  width: 54%;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.departures {
  position: relative;
  z-index: 1;
  background-color: #53b5e9;
}
.arrivals {
  position: relative;
  top: -60px;
  z-index: 0;
  margin-left: 46%;
  background-color: #ffffff;
}
.departures,
.arrivals,
.search_btn:hover
{
cursor: pointer;
}
.arrivalsTxt,
.departuresTxt {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 30px;
}
.arrivalsTxt {
  color: #53b5e9;
}
.departuresTxt {
  color: white;
}
.partition {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}
.table{
  width: 100%;
  border-collapse: collapse;
}
.tableRow{
  background-color: #ffffff;
}
td{
  width: 10%;
  padding: 20px;
}
